<h1>
	Welcome to Ed's Uploader!
</h1>

<ul>
	Upload your files here!
	<li><a href="/upload">upload</a> </li>
</ul>

<ul>
	Download your previously uploaded files!
	<li><a href="/download">download</a> </li>
</ul>

<ul>
	Access your file details!
	<li><a href="/file_details">file details</a> </li>
</ul>