<h1>
	Welcome, Click to upload a file of your choice!
</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
		<input type="file" name="file0">
		<input type="submit" value="upload">
</form>